* {
	box-sizing: border-box;
} 

body {
	margin: 0;
	padding: 0;
}

a {
	color: #222;
	border-bottom: 1px dashed #000;
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 1000px;
}

header {
    background-color: #e1e4e9;

    height: 60px;
    padding-top: 10px;
    padding-bottom: 13px;
}

header aside {
	float: right;
	margin-right: 20px;
}

header h1 {
	margin: 0 30px;
	font-size: 1.5em;

	font-family: 'Open Sans';
}

footer {
    background-color: #ECECEC;
    color: #333;
    height: 90px;
    padding: 20px;
}


form label {
	display: block;
	float: left;
	font-weight: lighter;
	width: 200px;
	text-align: justify;
	font-family: Arvo, Arial;

}

form input, form select, form textarea {
	border: 1px solid #d9d9d9;
	color: #343434;
	float: left;
	margin: 8px 10px 0px 10px;
	padding: 5px;
}

form textarea {
	height: 150px;
}

form p { clear: both; }

.clear { clear:both;}


/**********************/

.titre-article, .titre-comments {
	border-bottom: 1px dashed #c3c3c3;
	margin-bottom: 0;
}

.infos-article {
	margin: 5px 0 0 15px;
	font-style: italic;
	font-size: 0.9em;
}

.titre-comments {
	margin-top: 50px;
}

.contenu-article {
	margin: 20px auto;
	width: 80%;
}

input[type="submit"] {
    background-color: #0078E7;
    color: #FFF;
    font-family: Verdana;
    font-size: 0.9em;
    padding: 0.5em 1em;
    border: 0px none transparent;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
}